-- Copy this file to your GAME INSTALL'S Scripts folder (probably in C:\Program Files\Eagle Dynamics\DCS World\Scripts)
-- as hoggit_config.lua (make sure you don't include the .example), NOT your Saved Games Scripts folder.
-- Hoggit Framework Config.

HOGGIT = {}

-- Replace these values with the Scripts and Logs folders in your SAVED GAMES' Scripts
-- folder (NOT your base install folder), with NO trailing slash.
HOGGIT.script_base = [[D:\Personal Folders\Saved Games\DCS.openbeta\Scripts]]
HOGGIT.log_base = [[D:\Personal Folders\Saved Games\DCS.openbeta\Logs]]
